Session.vim

dns/build

services/beer-club/build
services/beer-club/client-app/src/abis

services/library/build
services/library/client-app/src/abis

identity-provider/client-app/node_modules
identity-provider/client-app/src/abis

validators/.vs
validators/.vscode
validators/bin
validators/obj
